sphinx_rtd_theme
nbsphinx
nbsphinx-link
myst_parser
sphinx >=3.1.2
sphinx-copybutton
sphinx-gallery
ipyevents
jupyter
# ibllib  # Required to execute the one_quickstart notebook
# matplotlib  # Required to execute the data_sharing notebook
globus_sdk  # For Globus module
